<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=(local);Initial Catalog=BloodBankManagementSystem;Integrated Security=True" />
    <add name="BloodBankManagementSystem.Properties.Settings.BloodBankManagementSystemConnectionString"
      connectionString="Data Source=DESKTOP-I3N5O73\SQLEXPRESS;Initial Catalog=BloodBankManagementSystem;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>
